@CHARSET "UTF-8";

ul.stack-trace-list{
	padding-left: 30px;
}

ul.stack-trace-list li {
	padding:0;
	list-style-image: url('../images/stckframe_obj.gif');
	white-space: nowrap;
	line-height: 8pt;
}

ul.stack-trace-list li span.filename, ul.stack-trace-list li span.method-name {
	font-family: monospace;
	font-size: 8pt;
}

ul.stack-trace-list li span.filename {
	color: gray;
}
