@CHARSET "UTF-8";

div.super-global-headline {
	color: #5180bb;
	background-color: #CEEEFE;
	height: 35px;
	line-height: 35px;
	-webkit-box-shadow: 0 0 5px 5px #999;
}

div.super-global-headline h2 {
	margin:0;
	top: 0;
	cursor:default;
}

ul.super-global-list li{
	display: block;
	border: 1px solid #AAA;
	padding: 3px 10px 3px 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

table.super-global-table {
	border: 2px solid #CCC;
	border-collapse:collapse;
    border-spacing:0;
}

table.super-global-table thead tr {
	background-color: #CEEEFE;
}

table.super-global-table thead th, table.super-global-table tbody td {
	padding: 3px 10px 3px 10px;
}

table.super-global-table tbody tr td {
	width:400px;
}

table.super-global-table tbody tr td:first-child {
	border-right: 2px solid #CCC;
	width:200px;
}