<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.zend.usagedata.monitors">
      <monitor
            class="org.zend.usagedata.internal.monitors.ViewsUsageMonitor">
      </monitor>
      <monitor
            class="org.zend.usagedata.internal.monitors.ToolbarUsageMonitor">
      </monitor>
      <monitor
            class="org.zend.usagedata.internal.monitors.ContentAssistMonitor">
      </monitor>
      <monitor
            class="org.zend.usagedata.internal.monitors.WizardUsageMonitor">
      </monitor>
   </extension>

</plugin>
