<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.zend.usagedata.preUploadListeners">
      <preUploadListener
            class="org.zend.usagedata.ui.internal.listener.UIPreUploadListener">
      </preUploadListener>
   </extension>
    <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.trim.status?after=additions ">
       <toolbar
             id="org.zend.usagedata.toolbar">
          <control
                class="org.zend.usagedata.ui.internal.toolbar.UsageDataButtonControl"
                id="UsageDataButtonControl">
             <visibleWhen
                   checkEnabled="false">
                <test
                      forcePluginActivation="false"
                      property="org.zend.usagedata.ui.buttonVisibility"
                      value="true">
                </test>
             </visibleWhen>
          </control>
       </toolbar>
    </menuContribution>
 </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.zend.usagedata.ui.internal.toolbar.ButtonVisibilityTester"
             id="org.zend.usagedata.ui.buttonVisibilityTester"
             namespace="org.zend.usagedata.ui"
             properties="buttonVisibility"
             type="java.lang.Object">
       </propertyTester>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
             class="org.zend.usagedata.ui.internal.preferences.UsageDataPreferencesPage"
             id="org.zend.usagedata.ui.dataCapturePage"
             name="Usage Reporting">
       </page>
    </extension>

</plugin>
