<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.zend.usagedata.preUploadListeners">
      <preUploadListener
            class="org.zend.usagedata.ui.internal.listener.UIPreUploadListener">
      </preUploadListener>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
             class="org.zend.usagedata.ui.internal.preferences.UsageDataPreferencesPage"
             id="org.zend.usagedata.ui.dataCapturePage"
             name="Usage Reporting">
       </page>
    </extension>

</plugin>
